.sidebar {
  width: 480px;
  background: linear-gradient(to bottom, #2a0845, #6441a5);
  color: white;
  /* height: 246px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 28px;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding-top: 40px;
  padding-left: 16px;
  /* align-self: flex-start; */
  /* justify-content: space-between; */
  gap: 12px;
  margin: 0;
}

.menuHome {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: space-between;
  cursor: pointer;
}
.menuDolar {
  display: none;
}
.active {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-self: flex-start;
  justify-content: flex-start;
}
.active:hover .icon {
  text-decoration: underline whitesmoke;
  color: #734aef;
  background-color: #fbfbfb;
}
.icon {
  width: 18px;
  height: 18px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  background-color: #734aef;
}
.icon:hover {
  color: #734aef;
  background-color: #fbfbfb;
  text-decoration: underline;
}

.home {
  width: 55px;
  height: 27px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fbfbfb;
}

.statistics {
  width: 81px;
  height: 27px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fbfbfb;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .sidebar {
    width: 400px;
    /* height: 234px; */
    position: fixed;
    z-index: 1000;
    background-color: #2a0845;
    /* display: flex;
    flex-direction: column; */
  }

  .menuList {
    padding-left: 32px;
  }

  .menuHome,
  .menuDolar {
    justify-content: center;
    text-align: center;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 320px;
    position: fixed;
    z-index: 1000;
    background-color: #2a0845;
    /* display: flex;
    flex-direction: column; */
  }
  .menu {
    margin: 0 0 12px 0;
  }
  .menuList {
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 0 62px;
    gap: 35px;
  }
  .menuList span {
    display: none;
  }

  .menuHome,
  .menuDolar {
    justify-content: center;
    text-align: center;
  }
  .menuDolar {
    display: flex;
  }
  .icon {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    /* background: rgba(255, 255, 255, 0.4);
    color: black; */
  }

  .icon svg {
    width: 27px;
    height: 38px;
  }
}
