.selectBox {
    padding: 8px 15px;
    background-color: rgba(93, 17, 185, 0.3);
    background-image: none;
    color: #FBFBFB;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 150px;
    outline: none;
    text-align: left;
}
    
.optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(135deg,
                rgba(83, 61, 186, 0.45) 3%,
                rgba(80, 48, 154, 0.75) 23%,
                rgba(106, 70, 165, 0.45) 55%,
                rgba(133, 93, 175, 0.15) 100%
            );
    border-radius: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 160px;
    overflow-y: auto;
    z-index: 1000;
    scrollbar-width: none;
    scrollbar-color: #555577 transparent;
}
    
.option {
    padding: 10px 15px;
    cursor: pointer;
    color: #FBFBFB;
}
    
.option:hover {
    color: #FF868D;
    background-color: #FFFFFF1A;
}