.selectContainer {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
    justify-content: flex-end;
}

.Statistics {
    color: white;
    margin-right: 70px;
}

.categorySum {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.categorySumh4 {
    justify-content: space-between;
    color: white;
    background-color: rgba(82, 59, 126, 0.6);
    background-color: rgba(82, 59, 126 0.25);
    width: 160px;
    padding: 8px 15px;

}

.Category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.Sum {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.categoryList {
    width: 375px;
    margin-top: 15px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.categoryItem {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.colorBox {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 10px; 
}

.accountContainer {
    width: 375px;
    margin-top: 15px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.totalsContainer {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 1.1rem;
    width: 375px;
    color: white;
}
    
.valueExpenses {
    color: #FF868D;

}

.valueIncome {
    color: #FFB627;
}

.chartAndCategories {
    display: flex;
    align-items: center;
    gap: 40px;
    /* Grafik ve liste arası boşluk */
}

.categoryList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* Kategori öğeleri arasındaki boşluk */
}

.categoryItem {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Renk kutusu ile isim arası boşluk */
    font-weight: 500;
    color: white;
}

.colorBox {
    width: 15px;
    height: 15px;
    border-radius: 3px; }
    
