.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #17158a00;
  max-height: 380px;
}

.currencyPeaks {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.currencyTable {
  width: 100%;
  border-collapse: collapse;
}

.currencyTable th {
  background: rgba(255, 255, 255, 0.2);
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  color: #fbfbfb;
  text-align: center;
  padding-left: 20px;
  height: 56px;
  width: 480px;
}

.currencyTable tr {
  height: 40px;
}

.currencyTable td {
  text-align: center;
  padding-left: 20px;
  font-family: poppins;
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
  margin-top: 8px;
}

.currencyTableGraph {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}

.currencyTableGraph img {
  width: 100%;
  height: 100%;
}

/* Mobile styles */
@media (max-width: 767px) {
  .currencyTable th,
  .currencyTable td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .currencyTable th:last-child,
  .currencyTable td:last-child {
    padding-right: 10px;
  }

  .loading {
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .currencyTableGraph {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 1;
  }

  .currencyTableGraph img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (min-width: 1279px) {
  .currencyPeaks {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 16px;
  }

  .currencyPeaks p:first-child {
    position: absolute;
    top: 90px;
    left: 140px;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    color: #ff868d;
  }

  .currencyPeaks p:last-child {
    position: absolute;
    top: 5px;
    right: 280px;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    color: #ff868d;
  }

  .currencyTableGraph {
    width: 100%;
    height: auto;
    max-height: 167px;
  }
}
