.balancedCard {
  background-color: #523b7e99;
  height: 80px;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 9px 15px 0px #00000033;
  padding: 8px 0 11px 56px;
  gap: 12px;
  margin-bottom: 32px;
}

.balancedText {
  font-size: 12px;
  color: #ffffff66;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 94px;
  height: 13px;
  margin: 0;
}

.balancedAmount {
  font-weight: bold;
  color: #fbfbfb;
  width: 175px;
  height: 36px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0px;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .balancedCard {
    /* width: 336px; */
    /* height: 80px; */
    border-radius: 8px;
    margin: 0 32px 0 32px;
    padding: 8px 0 11px 40px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 767px) {
  .balancedCard {
    /* width: 280px; */
    /* height: 80px; */
    border-radius: 8px;
    margin: 0 20px 0 20px;
    padding: 8px 0 11px 32px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  }
}
